/target/
/Reuters21578-Apte-90Cat/test_json_hdfs
/Reuters21578-Apte-90Cat/test_json_hdfs_precproc_completo
/Reuters21578-Apte-90Cat/training_json_hdfs
/Reuters21578-Apte-90Cat/training_json_hdfs_precproc_completo
modelo*
